# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Tiny-Tacticians.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity\Projects\Tiny-Tacticians\.idea\.idea.Tiny-Tacticians\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
